body{
  background-image: url(./img/backgroundImg.jpg);
  background-position: center center;
  background-size: auto;
}

.titulo{
  font-size: 20px;
  color:#99c9e0;
  text-align: center;
  margin-top: 30px;
}

h1,h2,p,button{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  font-weight: normal;
}

.game-container{
  border-radius: 2cm;
  display: flex;
  flex-wrap: wrap;
}
.game-list {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  text-align: center;
  border-radius: 2cm;
  background-color: #99c9e0;
  font-family: 'PressStart2P-Regular';
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.search-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.filter-selector {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.erro-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #337ab7;
  color: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
}

.scroll-button:hover {
  background-color: #23527c;
}

.filter-selector:hover {
  background-color: #23527c;
}

.game-list img {
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
 .game-list{
  width: 50%;
 }
}

@media (max-width: 767px) {
  .game-list{
    width: 100%;
  }
  .loader {
    height: 100%
  }
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');